<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend-Preentrega</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="appglass">

        <header class="header"> 
            {{>navbar}} 
        </header>


        {{{body}}}


        <footer class="footer">
            <p>© 2024 Empresa X - Todos los derechos reservados.</p>
            <a href="/privacy-policy">Política de Privacidad</a>
            <a href="/terms-of-service">Términos de Servicio</a>
        </footer>
    </div>


    <script>

        console.log('Página cargada');
    </script>
</body>
</html>
